@{
    ViewData["Title"] = "Renstalação";
}

    <h1 class="display-4"> Reinstalação de base </h1> 
<table dark class="table table-dark"
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Base</th>
            <th scope="col">Dispositivo</th>
            <th scope="col">E-mail</th>
             <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>0073</td>
            <td>007548-0046-8952-4568-004587820</td>
            <td>0073@gmail.com</td>
            <td>
         
                <a class="btn btn-primary">Editar</a>
                <a class="btn btn-primary">Alterar</a>
               
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>0078</td>
            <td>045754-5896-7514-4587-554785211</td>
            <td>0078@gmail.com</td>
            <td>
                
              <div class="btn-group" role="group" aria-label="Basic Example">
                <a role="btn btn-primary">Editar</a>
                <a role="btn btn-primary">Alterar</a>
              </div> 

        </tr>
        <tr>
            <th scope="row">3</th>
            <td>0079</td>
            <td>4878924-7846-8641-7895</td>
            <td>0079@gmail.com</td>
            <td>
                
              
                <a class="btn btn-primary">Editar</a>
                <a class="btn btn-primary">Alterar</a>
            
        </tr>
    </tbody>
</table>
</div>
