@{
    ViewData["Title"] = "Renstalação";
}

    <h1 class="display-4"> Instalar Base </h1> 
<form class="row g-3 needs-validation" novalidate>
  <div class="col-md-4">
    <label for="validationCustom01" class="form-label">Base</label>
    <input type="text" class="form-control" id="validationCustom01" value="" required>
    <div class="valid-feedback">
    </div>
  </div>
  <div class="col-md-4">
    <label for="validationCustom02" class="form-label">DISPOSITIVO</label>
    <input type="text" class="form-control" id="validationCustom02" value="" required>
    <div class="valid-feedback">
    </div>
  </div>
  <div class="col-md-4">
    <label for="validationCustomUsername" class="form-label">SENHA</label>
    <div class="input-group has-validation">
      <span class="input-group-text" id="inputGroupPrepend"></span>
      <input type="text" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend" required>
      <div class="invalid-feedback">
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <label for="validationCustom03" class="form-label">E-MAIL</label>
    <input type="text" class="form-control" id="validationCustom03" required>
    <div class="invalid-feedback">
    </div>
  </div>
  <div class="col-md-3">
    <label for="validationCustom04" class="form-label">MODELO</label>
    <select class="form-select" id="validationCustom04" required>
      <option selected disabled value="">Escolha o Modelo</option>
      <option>S9 FE ULTRA</option>
      <option>S9 FE</option>
      <option>S9 FE +</option>
      <option>PAD 5</option>
      <option>PAD 5 PRO</option>
      <option>PAD 6</option>
      <option>S8</option>
      <option>S7 PLUS</option>
      <option>S7 5G</option>
      <option>S7</option>
      <option>S7 LITE</option>

    </select>
    <div class="invalid-feedback">
    </div>
  </div>
  <div class="col-md-3">
    <label for="validationCustom05" class="form-label">N/S</label>
    <input type="text" class="form-control" id="validationCustom05" required>
    <div class="invalid-feedback">
    </div>
  </div>
  <div class="col-12">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
      <label class="form-check-label" for="invalidCheck">
        Aceitar termos e Condições
      </label>
      <div class="invalid-feedback">
      </div>
    </div>
  </div>
  <div class="col-12">
    <button class="btn btn-primary" type="submit">ATIVAR BASE</button>
  </div>
</form>
        </tr>
    </tbody>
</table>
</div>
